<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
		<meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
		<meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
		<title>账单</title>
 

		<!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
		<link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- PLUGINS CSS -->
		<link href="static/assets/plugins/weather-icon/css/weather-icons.min.css" rel="stylesheet">
		<link href="static/assets/plugins/prettify/prettify.min.css" rel="stylesheet">
		<link href="static/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="static/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
		<link href="static/assets/plugins/owl-carousel/owl.theme.min.css" rel="stylesheet">
		<link href="static/assets/plugins/owl-carousel/owl.transitions.min.css" rel="stylesheet">
		<link href="static/assets/plugins/chosen/chosen.min.css" rel="stylesheet">
		<link href="static/assets/plugins/icheck/skins/all.css" rel="stylesheet">
		<link href="static/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet">
		<link href="static/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
		<link href="static/assets/plugins/validator/bootstrapValidator.min.css" rel="stylesheet">
		<link href="static/assets/plugins/summernote/summernote.min.css" rel="stylesheet">
		<link href="static/assets/plugins/markdown/bootstrap-markdown.min.css" rel="stylesheet">
		<link href="static/assets/plugins/datatable/css/bootstrap.datatable.min.css" rel="stylesheet">
		<link href="static/assets/plugins/morris-chart/morris.min.css" rel="stylesheet">
		<link href="static/assets/plugins/c3-chart/c3.min.css" rel="stylesheet">
		<link href="static/assets/plugins/slider/slider.min.css" rel="stylesheet">
		<link href="static/assets/plugins/salvattore/salvattore.css" rel="stylesheet">
		<link href="static/assets/plugins/toastr/toastr.css" rel="stylesheet">
		<link href="static/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="static/assets/plugins/fullcalendar/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
		
		<!-- MAIN CSS (REQUIRED ALL PAGE)-->
		<link href="static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="static/assets/css/style.css" rel="stylesheet">
		<link href="static/assets/css/style-responsive.css" rel="stylesheet">
		<link href="static/assets/css/nist.css" rel="stylesheet">
 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
 
	<body class="tooltips">
		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand">
						<a href="index.html">计量计费系统</a>
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content">
						<ul class="nav navbar-nav">
						        <li><a href="index">首页</a></li>
						         <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown">账单查询&nbsp;<span class="fa fa-angle-down"></span></a>
						          <ul class="dropdown-menu" role="menu">
						            <li><a href="daliySearch">日账单查询</a></li>
						            <li><a href="monthlySearch">月账单查询</a></li>
						          </ul>
						        </li>
						        <li><a href="resources">资源状态</a></li>
						        <li><a href="policy">计费规则</a></li>
						 </ul>
						
						 <ul class="nav navbar-nav navbar-right">
						        <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown">xtzhao&nbsp;<span class="fa fa-angle-down"></span></a>
						          <ul class="dropdown-menu" role="menu">
						            <li><a href="#">Action</a></li>
						            <li><a href="#">Another action</a></li>
						            <li><a href="#">Something else here</a></li>
						            <li class="divider"></li>
						            <li><a href="#">Separated link</a></li>
						          </ul>
						        </li>
						      </ul>

					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			<!-- END TOP NAV -->
					
			
			<!-- BEGIN PAGE CONTENT -->
			<div class="page-content">
				<div class="container-fluid">
					
					<ol class="breadcrumb default" style="margin-top:20px;">
					  <li class="active">我的位置</a></li>
					  <li><a href="search">首页</a></li>
					  <li class="active">账单详情</li>
					</ol>

					<div class="panel panel-info">
					  <div class="panel-heading">
						<h3 class="panel-title">账单详情</h3>
					  </div>
					  <div class="panel-body">
					  		
					  		<div class="row">
					  			<div class="col-sm-1"></div>
					  			<div class="col-sm-10">
					  				<h3>电子对账单</h3>
					  			</div>
					  			<div class="col-sm-1"></div>
					  		</div>
					  		<div class="row">
					  			<div class="col-sm-1"></div>
					  			<div class="col-sm-10">
					  				<table class="nist-table table text-center" style="margin-top:20px;">
										<tr>
											<td>账号</td>
											<td><span id="ID"></span></td>
											<td>姓名</td>
											<td><span id="name"></span></td>
											<td>计费周期</td>
											<td colspan="2"><span id="Cycle"></span></td>
										</tr>
										<tr>
											<td>服务等级</td>
											<td><span id="Level"></span></td>
											<td>应用类型</td>
											<td><span id="ApplicationType"></span></td>
											<td>账单类型</td>
											<td colspan="2"><span id="BillType"></span></td>
										</tr>
										<tr>
											<td colspan="2">是否预付费</td>
											<td colspan="2"><span id="prepaid"></span></td>
											<td>金额</td>
											<td colspan="2"><span id="Amount"></span></td>
										</tr>
										<tr>
											<td colspan="2">实例数</td>
											<td colspan="2"><span id="Instance"></span></td>
											<td>预留实例数</td>
											<td colspan="2"><span id="ReservedInstance"></span></td>
										</tr>
										<tr>
											<td colspan="7"><h5>资源申请表</h5></td>
										</tr>
										<tr>
											<td colspan="2">CPU资源</td>
											<td colspan="2"><span id="Resource_Request_CPU"></span></td>
											<td>内存资源</td>
											<td colspan="2"><span id="Resource_Request_MEM"></span></td>
										</tr>
										<tr>
											<td colspan="2">网络资源</td>
											<td colspan="2"><span id="Resource_Request_NET"></span></td>
											<td>IO资源</td>
											<td colspan="2"><span id="Resource_Request_IO"></span></td>
										</tr>									
										<tr>
											<td colspan="7"><h5>日账单明细（可点入详细查看）</h5></td>
										</tr>
										<tr>
											<td><a href="#" id="dayBillHref1">1</a></td>
											<td><a href="#" id="dayBillHref2">2</a></td>
											<td><a href="#" id="dayBillHref3">3</a></td>
											<td><a href="#" id="dayBillHref4">4</a></td>
											<td><a href="#" id="dayBillHref5">5</a></td>
											<td><a href="#" id="dayBillHref6">6</a></td>
											<td><a href="#" id="dayBillHref7">7</a></td>
										</tr>
										<tr>
											<td><span id="dayBillAmount1"></span></td>
											<td><span id="dayBillAmount2"></span></td>
											<td><span id="dayBillAmount3"></span></td>
											<td><span id="dayBillAmount4"></span></td>
											<td><span id="dayBillAmount5"></span></td>
											<td><span id="dayBillAmount6"></span></td>
											<td><span id="dayBillAmount7"></span></td>
										</tr>
										<tr>
											<td><a href="#" id="dayBillHref8">8</a></td>
											<td><a href="#" id="dayBillHref9">9</a></td>
											<td><a href="#" id="dayBillHref10">10</a></td>
											<td><a href="#" id="dayBillHref11">11</a></td>
											<td><a href="#" id="dayBillHref12">12</a></td>
											<td><a href="#" id="dayBillHref13">13</a></td>
											<td><a href="#" id="dayBillHref14">14</a></td>
											
										</tr>
										<tr>
											<td><span id="dayBillAmount8"></span></td>
											<td><span id="dayBillAmount9"></span></td>
											<td><span id="dayBillAmount10"></span></td>
											<td><span id="dayBillAmount11"></span></td>
											<td><span id="dayBillAmount12"></span></td>
											<td><span id="dayBillAmount13"></span></td>
											<td><span id="dayBillAmount14"></span></td>
										</tr>
										<tr>
											<td><a href="#" id="dayBillHref15">15</a></td>
											<td><a href="#" id="dayBillHref16">16</a></td>
											<td><a href="#" id="dayBillHref17">17</a></td>
											<td><a href="#" id="dayBillHref18">18</a></td>
											<td><a href="#" id="dayBillHref19">19</a></td>
											<td><a href="#" id="dayBillHref20">20</a></td>
											<td><a href="#" id="dayBillHref21">21</a></td>

										</tr>
										<tr>
											<td><span id="dayBillAmount15"></span></td>
											<td><span id="dayBillAmount16"></span></td>
											<td><span id="dayBillAmount17"></span></td>
											<td><span id="dayBillAmount18"></span></td>
											<td><span id="dayBillAmount19"></span></td>
											<td><span id="dayBillAmount20"></span></td>
											<td><span id="dayBillAmount21"></span></td>
										</tr>
										<tr>
											<td><a href="#" id="dayBillHref22">22</a></td>
											<td><a href="#" id="dayBillHref23">23</a></td>
											<td><a href="#" id="dayBillHref24">24</a></td>
											<td><a href="#" id="dayBillHref25">25</a></td>
											<td><a href="#" id="dayBillHref26">26</a></td>
											<td><a href="#" id="dayBillHref27">27</a></td>
											<td><a href="#" id="dayBillHref28">28</a></td>
										</tr>
										<tr>
											<td><span id="dayBillAmount22"></span></td>
											<td><span id="dayBillAmount23"></span></td>
											<td><span id="dayBillAmount24"></span></td>
											<td><span id="dayBillAmount25"></span></td>
											<td><span id="dayBillAmount26"></span></td>
											<td><span id="dayBillAmount27"></span></td>
											<td><span id="dayBillAmount28"></span></td>
										</tr>
										<tr>
											<td><a href="#"  id="dayBillHref29">29</a></td>
											<td><a href="#" id="dayBillHref30">30</a></td>
											<td><a href="#" id="dayBillHref31">31</a></td>
											<td colspan="4" rowspan="2" style="line-height:400%">总计：<span id="dayBilltotal"></span>元</td>
										</tr>
										<tr>
											<td><span id="dayBillAmount29"></span></td>
											<td><span id="dayBillAmount30"></span></td>
											<td><span id="dayBillAmount31"></span></td>
										</tr>
										<tr>
											<td colspan="7"><h5>实际资源使用率</h5></td>
										</tr>
										<tr>
											<td colspan="2">CPU</td>
											<td colspan="2"><span id="Resource_Usage_CPU"></span></td>
											<td>内存</td>
											<td colspan="2"><span id="Resource_Usage_MEM"></span></td>
										</tr>
										<tr>
											<td colspan="2">网络</td>
											<td colspan="2"><span id="Resource_Usage_NET"></span></td>
											<td>磁盘</td>
											<td colspan="2"><span id="Resource_Usage_IO"></span></td>
										</tr>
										<tr>
											<td colspan="7"><h5>实际服务使用量（次/项）</h5></td>
										</tr>
										<tr>
											<td colspan="2">镜像服务</td>
											<td colspan="2"><span id="Service_Usage_Docker_Registry"></span></td>
											<td>负载均衡服务</td>
											<td colspan="2"><span id="Service_Usage_Load_Average"></span></td>
										</tr>
										<tr>
											<td colspan="2">数据备份服务</td>
											<td colspan="2"><span id="Service_Usage_Data_Backup"></span></td>
											<td>服务小计</td>
											<td colspan="2"><span id="Service_Usage_Service_Billing">sss</span></td>
										</tr>
										<tr>
											<td colspan="7"><h5>折扣项</h5></td>
										</tr>
										<tr>
											<td colspan="2"><span id="discount_type1"></span></td>
											<td colspan="2"><span id="discount_type2"></span></td>
											<td><span id="discount_type3"></span></td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td colspan="2">折扣小计</td>
											<td colspan="5"><span id="Discount_Sum"></span></td>
										</tr>
										<tr>
											<td colspan="2">月度总计</td>
											<td colspan="5"><span id="Total_Billing"></span></td>
										</tr>
									</table>
					  			</div>
					  			<div class="col-sm-1"></div>
					  		</div>
							
					  </div><!-- /.panel-body -->
					</div>
				</div><!-- /.container-fluid -->
				
				
				
				<!-- BEGIN FOOTER -->
				<footer>
					&copy; 2016 <a href="#fakelink">nisc</a><br />
				</footer>
				<!-- END FOOTER -->
				
				
			</div><!-- /.page-content -->
		</div><!-- /.wrapper -->
		<!-- END PAGE CONTENT -->
		
		
	
		<!-- BEGIN BACK TO TOP BUTTON -->
		<div id="back-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<!-- END BACK TO TOP -->
		
		
		<!--
		===========================================================
		END PAGE
		===========================================================
		-->
		
		<!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
		<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/plugins/retina/retina.min.js"></script>
		<script src="static/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
		<script src="static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="static/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
 
		<!-- PLUGINS -->
		<script src="static/assets/plugins/skycons/skycons.js"></script>
		<script src="static/assets/plugins/prettify/prettify.js"></script>
		<script src="static/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="static/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script src="static/assets/plugins/chosen/chosen.jquery.min.js"></script>
		<script src="static/assets/plugins/icheck/icheck.min.js"></script>
		<script src="static/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
		<script src="static/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
		<script src="static/assets/plugins/mask/jquery.mask.min.js"></script>
		<script src="static/assets/plugins/validator/bootstrapValidator.min.js"></script>
		<script src="static/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="static/assets/plugins/datatable/js/bootstrap.datatable.js"></script>
		<script src="static/assets/plugins/summernote/summernote.min.js"></script>
		<script src="static/assets/plugins/markdown/markdown.js"></script>
		<script src="static/assets/plugins/markdown/to-markdown.js"></script>
		<script src="static/assets/plugins/markdown/bootstrap-markdown.js"></script>
		<script src="static/assets/plugins/slider/bootstrap-slider.js"></script>
		
		<script src="static/assets/plugins/toastr/toastr.js"></script>
		
		<!-- FULL CALENDAR JS -->
		<script src="static/assets/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
		<script src="static/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
		<script src="static/assets/js/full-calendar.js"></script>
		
		<!-- EASY PIE CHART JS -->
		<script src="static/assets/plugins/easypie-chart/easypiechart.min.js"></script>
		<script src="static/assets/plugins/easypie-chart/jquery.easypiechart.min.js"></script>
		
		<!-- KNOB JS -->
		<!--[if IE]>
		<script type="text/javascript" src="static/assets/plugins/jquery-knob/excanvas.js"></script>
		<![endif]-->
		<script src="static/assets/plugins/jquery-knob/jquery.knob.js"></script>
		<script src="static/assets/plugins/jquery-knob/knob.js"></script>

		<!-- FLOT CHART JS -->
		<script src="static/assets/plugins/flot-chart/jquery.flot.js"></script>
		<script src="static/assets/plugins/flot-chart/jquery.flot.tooltip.js"></script>
		<script src="static/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
		<script src="static/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
		<script src="static/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
		<script src="static/assets/plugins/flot-chart/jquery.flot.time.js"></script>

		<!-- MORRIS JS -->
		<script src="static/assets/plugins/morris-chart/raphael.min.js"></script>
		<script src="static/assets/plugins/morris-chart/morris.min.js"></script>
		
		<!-- C3 JS -->
		<script src="static/assets/plugins/c3-chart/d3.v3.min.js" charset="utf-8"></script>
		<script src="static/assets/plugins/c3-chart/c3.min.js"></script>
		
		<!-- MAIN APPS JS -->
		<script src="static/assets/js/apps.js"></script>
		<script src="static/assets/js/demo-panel.js"></script>
		<script src="static/assets/project/js/monthBillDetail.js"></script>
	</body>
</html>