.title{margin-top:15px;margin-right:5px;}
#register{color:black;font-size:16px;}
.no_padding{padding:;}
.paddingno{padding:0 0;}
#myTabContent1 a{color:#37BC9B;text-decoration:underline;}
#myTabContent1 th{background-color:#F5F7FA}